# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
/build/
/dist/

# Ignorar archivos de entorno o configuración
.env
config.yaml

# Ignorar dependencias
/node_modules/
/vendor/

# Ignorar archivos temporales
*.log
*.tmp

